#Set Working Directory

In [8]:
import os

In [18]:
os.chdir("C:/R")

#Load Dataset

In [11]:
import pandas as pd

In [20]:
data = pd.read_csv("customer_reviews.csv")

#Check Data

In [21]:
data.head()

   slno                                               text
0     1   a fun adventure. Perfect facilities available...
1     2   As an extended family  we went for a two nigh...
2     3   Booked this hotel for the 3rd time in 4 years...
3     4   Came here for short break. The stay was quite...
4     5   Check in process was quick and smooth  with f...

#Clean the data

In [25]:
import re
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemmatizer = WordNetLemmatizer()
corpus = []
numRows = data.shape[0]

for index in range (numRows):
    review = re.sub('[^a-zA-Z]', ' ', data["text"][index])
    review = review.upper()
    review = review.split()
    review = [lemmatizer.lemmatize(word) for word in review if word not in set(stopwords.words("english"))]
    review = " ".join(review)
    corpus.append(review)

#Tfidf Model

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
Tf = TfidfVectorizer().fit_transform(corpus).toarray()

#Sentiment Analysis

In [29]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import numpy as np
sentiment = SentimentIntensityAnalyzer()
data["Score"] = data["text"].apply(lambda X : sentiment.polarity_scores(X))
data["Compound"] = data["Score"].apply(lambda X : X["compound"])
data["Pos_Neg"] = data["Compound"].apply(lambda X : np.where (X > 0, "Positive", "Neative"))
data["Pos_Neg"].value_counts()

Positive    43
Neative     12
Name: Pos_Neg, dtype: int64